.homePageContainer img{
    width: 95%;
    height: 60vh;
} 
.imgsContainer img{
    width: 20%;
    height: 30vh;
    margin: 0 20px;
}
.imgsContainer{
    float: left;
    position: relative;
    top: 95%;
}
.homePageContainer h1{
    color:rgb(146, 61, 62);
    font-size: 40px;
    margin-top: 10px;
    position: relative;
    top: 100%;
    font-weight: bold;
}
.homePageContainer h5{
    position: relative;
    top: 96%;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 15px;
}
.homePageContainer{
    height: 55vh;
    background-image: url("../style/Images/HomeImg/navbar.jpg");
    margin-top: -10px;
}